---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li> Hey, I'm <a href="https://bento.me/wcowin" target=“_blank”>Wcowin</a></li>
            <li> Bilibili电子信息工程专业本科在读 </li> 
            <li> CV工程师</li>
            <li> 咖啡重度爱好者</li> 
            <li> 痴迷Math/致力于高阶微分方程的研究 </li>
            <li> 热爱(xiā)折腾技术,读书明智 </li>
            <li> 喜欢村上春树📖，擅长羽毛球</li>
            </ul> 
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">How to touch me</h2>
        <div class="tag-post-list">
          <a href="https://muselink.cc/Wcowin" target="_blank">
            <img src="https://pbxt.replicate.delivery/hlNUcSkvwvYyOVrVC1E4bSWtX5gLQDzd1dAehfgiRAdtzxdRA/out..jpg" alt="个人名片" width="900" height="500">
          </a>
      </div>

    </div>
    
  </section>
</BaseLayout>
